# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests

# IDE
.idea/

# Qt / CMake / Make
build/
build-*/

/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
